@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.5s, -webkit-transform 1.5s;
  transition: opacity 0.5s, -webkit-transform 1.5s;
  transition: opacity 0.5s, transform 1.5s;
  transition: opacity 0.5s, transform 1.5s, -webkit-transform 1.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  color: #192252;
  font-size: 1.125rem;
  font-weight: 400;
}

body.offscroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 999;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.preloader.off {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

h1 {
  font-size: 2.67em;
}

h2 {
  font-size: 2em;
  margin-bottom: 24px;
}

h3 {
  color: #000000;
  font-size: 1.333em;
  margin-bottom: 16px;
}

section {
  padding: 80px 0;
}

div[class*="__container"] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

[class*="__text"] {
  color: #848fac;
  line-height: 150%;
  margin-bottom: 32px;
}

a[class*="__btn-link"] {
  display: inline-block;
  padding: 14px 16px;
  color: #ffffff;
  font-weight: 500;
  background-color: #192252;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.header {
  font-size: 1rem;
  padding: 36px 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  display: inline-block;
  padding: 5px;
  border: 2px solid transparent;
}

.header__logo-link .icon {
  width: 123px;
  height: 39px;
  fill: #192252;
}

.header__nav {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header__nav-link + .header__nav-link {
  margin-left: 32px;
}

.header__nav-link {
  position: relative;
  -webkit-transition: -webkit-transform 0.25s linear;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  padding-bottom: 5px;
}

.header__nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #192252;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
}

.header__burger {
  display: none;
}

.header__btn-link {
  padding: 14px 16px;
}

.banner {
  padding: 0;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__content {
  margin-right: 20px;
  max-width: 525px;
}

.banner__title {
  margin-bottom: 24px;
}

.banner__text {
  max-width: 485px;
}

.banner__image {
  max-height: 668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.banner__image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  margin-right: 30px;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  -ms-flex-preferred-size: 57.5%;
      flex-basis: 57.5%;
}

.about__text {
  margin-bottom: 16px;
}

.about .last__text {
  margin-bottom: 32px;
}

.info__block + .info__block {
  margin-top: 32px;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__block:nth-child(even) .info__content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.info__content {
  -ms-flex-preferred-size: 48.66%;
      flex-basis: 48.66%;
}

.rooms__content {
  max-width: 588px;
  text-align: center;
  margin: 0 auto;
}

.rooms__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 88px;
}

.rooms__cards .card {
  -ms-flex-preferred-size: calc(33.33% - 12px);
      flex-basis: calc(33.33% - 12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.rooms__cards .card__img {
  max-height: 489px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin-bottom: 32px;
}

.rooms__cards .card__link {
  color: #424f7b;
  position: relative;
  padding-right: 30px;
  margin-top: auto;
}

.rooms__cards .card__link::after {
  content: "";
  display: block;
  width: 16.67px;
  height: 13.33px;
  position: absolute;
  top: 4px;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background: url("../img/card-arrow.svg") no-repeat center;
}

.questions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__sub-title {
  color: #424f7b;
  margin-bottom: 12px;
}

.questions__text {
  max-width: 384px;
}

.questions__btn {
  display: inline-block;
  margin-right: 24px;
}

.questions__link {
  font-size: 0.88em;
  font-weight: 500;
  color: #0e1734;
}

.questions .answer {
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.questions .answer__list {
  list-style-type: none;
  counter-reset: num;
}

.questions .answer__title {
  color: #424f7b;
  margin: 0;
}

.questions .answer__text {
  position: relative;
  left: -20px;
  margin-top: 24px;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.questions .answer__icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffece2;
  position: absolute;
  right: 36px;
  top: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.questions .answer__icon .icon {
  width: 14px;
  height: 7px;
  fill: transparent;
  stroke: #ff620a;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.questions .answer__item {
  position: relative;
  background: #ffffff;
  border-radius: 4px;
  padding: 32px 80px 0 70px;
  margin-bottom: 24px;
  overflow: hidden;
}

.questions .answer__item:last-child {
  margin-bottom: 0;
}

.questions .answer__item::before {
  content: counter(num) ".";
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 36px;
  left: 45px;
  width: 20px;
  color: #424f7b;
  text-align: right;
  font-size: 1.33em;
  font-family: sans-serif;
  font-weight: 600;
}

.questions .answer__item.active {
  padding-bottom: 32px;
}

.questions .answer__item.active .answer__text {
  height: 100%;
  opacity: 1;
}

.questions .answer__item.active .answer__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #ff620a;
}

.questions .answer__item.active .answer__icon .icon {
  stroke: #ffffff;
}

.reviews__title {
  text-align: center;
}

.reviews__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 44px;
}

.reviews__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__text {
  text-align: center;
  max-width: 793px;
  margin-bottom: 40px;
}

.reviews__name {
  font-size: 1.11em;
}

.reviews__slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.reviews__slide-prev, .reviews__slide-next {
  position: relative;
  display: block;
  width: 25px;
  height: 40px;
}

.reviews__slide-prev.enable, .reviews__slide-next.enable {
  opacity: 0.3;
}

.reviews__slide-prev::after, .reviews__slide-prev::before, .reviews__slide-next::after, .reviews__slide-next::before {
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background: #192252;
  position: absolute;
}

.reviews__slide-prev::after, .reviews__slide-next::after {
  top: 12px;
  left: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews__slide-prev::before, .reviews__slide-next::before {
  bottom: 12px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.reviews__slide-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews__slider {
  position: relative;
  overflow: hidden;
}

.reviews__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.reviews__slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.reviews__slider-pagination .dot + .dot {
  margin-left: 12px;
}

.reviews__slider-pagination .dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fde3bf;
}

.reviews__slider-pagination .dot.active {
  opacity: 1;
  width: 12px;
  height: 12px;
  background-color: #fab047;
}

.reviews__slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  padding: 120px 0;
  background: #0b265a;
  color: #ffffff;
  font-size: 0.88em;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__logo {
  margin-bottom: 13px;
}

.footer__logo-link {
  display: inline-block;
  border: 2px solid transparent;
}

.footer__logo-link .icon {
  fill: #ffffff;
  width: 124px;
  height: 39px;
}

.footer__slogan {
  display: block;
  max-width: 186px;
  margin-bottom: 36px;
  line-height: 28px;
  color: #d9dbde;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link + .footer__social-link {
  margin-left: 24px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-right: 5.3%;
}

.footer__nav span {
  font-weight: 700;
  margin-bottom: 24px;
  display: block;
}

.footer__nav ul {
  color: #d9dbde;
}

.footer__nav ul li + li {
  margin-top: 24px;
}

[data-anim="fade-top"] {
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
  transition: opacity 0.7s, -webkit-transform 0.7s;
  transition: transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
}

@media (min-width: 1000px) {
  a[class*="__btn-link"] {
    -webkit-transition: -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
    transition: -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
    transition: box-shadow 0.25s, transform 0.25s;
    transition: box-shadow 0.25s, transform 0.25s, -webkit-box-shadow 0.25s, -webkit-transform 0.25s;
  }
  a[class*="__btn-link"]:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 20px rgba(14, 23, 52, 0.5);
            box-shadow: 0px 5px 20px rgba(14, 23, 52, 0.5);
  }
  a[class*="__btn-link"]:focus {
    outline: 3px solid #192252;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 20px rgba(14, 23, 52, 0.5);
            box-shadow: 0px 5px 20px rgba(14, 23, 52, 0.5);
  }
  a[class*="__btn-link"]:active {
    outline: none;
  }
  .header__logo-link {
    position: relative;
  }
  .header__logo-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #192252;
    -webkit-transition: width 0.25s linear;
    transition: width 0.25s linear;
  }
  .header__logo-link:hover::after {
    width: 100%;
  }
  .header__logo-link:active {
    outline: none;
  }
  .header__logo-link:focus {
    border-color: #192252;
  }
  .header__logo-link:active {
    border-color: transparent;
  }
  .header__nav-link:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .header__nav-link:hover::after {
    width: 100%;
  }
  .header__nav-link:focus {
    outline: 2px solid #192252;
  }
  .header__nav-link:active {
    outline: none;
  }
  .rooms .card__link:hover {
    text-decoration: underline;
  }
  .rooms .card__link:hover::after {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  .rooms .card__link:focus {
    outline: 2px solid #192252;
  }
  .rooms .card__link:active {
    outline: none;
  }
  .questions__link:hover {
    text-decoration: underline;
  }
  .questions__link:focus {
    outline: 3px solid #192252;
  }
  .questions__link:active {
    outline: none;
  }
  .questions .answer__item.active .answer__icon:hover {
    background-color: #ffece2;
    border: 1px solid #ff620a;
  }
  .questions .answer__item.active .answer__icon:hover .icon {
    stroke: #ff620a;
  }
  .questions .answer__item {
    cursor: pointer;
  }
  .questions .answer__item:hover .answer__icon {
    background-color: #ff620a;
  }
  .questions .answer__item:hover .answer__icon .icon {
    stroke: #ffffff;
  }
  .reviews__slide-prev, .reviews__slide-next {
    cursor: pointer;
  }
  .reviews__slide-prev.enable, .reviews__slide-next.enable {
    cursor: auto;
  }
  .reviews__slider-pagination .dot {
    cursor: pointer;
  }
  .footer__logo-link {
    position: relative;
  }
  .footer__logo-link::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ffffff;
    -webkit-transition: width 0.25s linear;
    transition: width 0.25s linear;
  }
  .footer__logo-link:hover::after {
    width: 100%;
  }
  .footer__logo-link:focus {
    border-color: #ffffff;
  }
  .footer__logo-link:active {
    border-color: transparent;
  }
  .footer__social-link:focus {
    outline: 2px solid #ffffff;
  }
  .footer__social-link:active {
    outline: none;
  }
  .footer__nav a {
    position: relative;
  }
  .footer__nav a::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #ffffff;
    -webkit-transition: width 0.25s linear;
    transition: width 0.25s linear;
  }
  .footer__nav a:hover::after {
    width: 100%;
  }
  .footer__nav a:focus {
    outline: 2px solid #ffffff;
  }
  .footer__nav a:active {
    outline: none;
  }
}

@media (max-width: 1170px) {
  body {
    font-size: 1rem;
  }
  .rooms .card__img {
    max-height: 390px;
  }
}

@media (max-width: 995px) {
  h1 {
    font-size: 2.125em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.125em;
  }
  .questions .answer__item::before {
    font-size: 1.125em;
  }
}

@media (max-width: 900px) {
  .info__image {
    height: 300px;
  }
  .info__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .rooms .card__img {
    max-height: 300px;
  }
  .questions {
    margin-left: 20px;
  }
  .questions .answer {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
  .questions .answer__item {
    padding: 20px 55px 0 40px;
  }
  .questions .answer__item::before {
    left: 15px;
    top: 23px;
  }
  .questions .answer__icon {
    right: 10px;
    top: 15px;
  }
  .footer__nav {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 1.125rem;
  }
  div[class*="__container"] {
    padding: 0 30px;
  }
  section {
    padding: 50px 0;
  }
  h1 {
    max-width: 500px;
  }
  h3 {
    font-size: 1em;
  }
  .header {
    position: relative;
  }
  .header__nav {
    position: absolute;
    left: -100%;
    top: 100%;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .header__nav-link + .header__nav-link {
    margin: 20px 0 0 0;
  }
  .header__burger {
    display: block;
    width: 50px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__burger span {
    width: 100%;
    height: 4px;
    background: #192252;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger span:nth-child(1) {
    width: 40%;
  }
  .header__burger span:nth-child(2) {
    width: 70%;
  }
  .header.active .header__burger span:nth-child(1) {
    opacity: 0;
  }
  .header.active .header__burger span:nth-child(3) {
    opacity: 0;
  }
  .header.active .header__burger span:nth-child(2) {
    width: 100%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
  }
  .header.active .header__burger span:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: inherit;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header.active .header__nav {
    left: 0;
  }
  .banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner__content {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-bottom: 30px;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .about__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .about__content {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    max-width: 500px;
  }
  .info__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .info__block:nth-child(even) .info__content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .info__content {
    max-width: 500px;
  }
  .rooms__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rooms .card {
    -ms-flex-preferred-size: calc(50% - 12px);
        flex-basis: calc(50% - 12px);
    margin-bottom: 50px;
  }
  .rooms .card__img {
    height: 270px;
  }
  .questions {
    margin: 0;
  }
  .questions__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .questions__content {
    margin-bottom: 50px;
  }
  .questions .answer {
    max-width: 500px;
  }
  .footer {
    padding: 70px 0;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 428px) {
  .header__btn {
    display: none;
  }
  .rooms__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rooms .card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 70px;
  }
  .rooms .card:last-child {
    margin-bottom: 0;
  }
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__logo-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav-column {
    margin-bottom: 60px;
  }
  .footer__nav-column:last-child {
    margin-bottom: 0;
  }
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
